<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
      include ../static/style.css

</head>

<body>
    <!-- | #{contents} -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>To Get The Membership Of Gym Fill This Form</h2>
        <form method="post" id="" contact>
            <input type="text" name="name" id="name" placeholder="enter your name">
            <input type="age" name="age" id="age" placeholder="enter your age">
            <input type="email" name="email" id="email" placeholder="enter your email id">
            <input type="gender" name="gender" id="gender" placeholder="enter your gender">
            <textarea name="address" id="address" cols="30" rows="5" placeholder="enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="5" placeholder="more about you"></textarea>
            <button class="btn">SUBMIT</button>
        </form>
    </div>
</body>

</html>